* {
    box-sizing: border-box;
}

:root {
    --header-background: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Start---------------------------------------------- Common ----------------------------------------------Start */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Logo */
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
    color: #fff;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* btn */

.btn {
    --height: 60px;
    display: inline-block;
    text-align: center;
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    background: #2e80ce;
    color: #fff;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Section Heading */
.section-heading {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* End---------------------------------------------- Common ----------------------------------------------End */

/* Start---------------------------------------------- Header ----------------------------------------------Start */

/* Header top */

.header {
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 110px;
    background: var(--header-background);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Navbar */

.navbar__list {
    display: flex;
}

.header-action__log-in,
.navbar__link {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 4px 21px;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    display: inline-block;
    position: relative;
    left: -8px;
    top: -3px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* header-action */

.header-action {
    display: flex;
    align-items: center;
}

.header-action__log-in {
    padding-right: 28px;
}

.header-action__btn {
    min-width: 104px;
    --height: 44px;
    font-size: 1.6rem;
    line-height: var(--height);
}

/* Hero */

/* Hero content */
.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fff;
}
/* Hero media */
.hero__images {
    display: flex;
    align-items: center;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0 6px 6px 0;
}

/* End---------------------------------------------- Header ----------------------------------------------End */

/* Start---------------------------------------------- Service ----------------------------------------------Start */

.service {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 0 auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/* Service Images */
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__contents {
    width: 40%;
}

.service-item {
    display: flex;
    gap: 19px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: 0.25s;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    width: 351px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service__btn {
    margin-top: 55px;
}
/* End---------------------------------------------- Service ----------------------------------------------End */

/* Start---------------------------------------------- work ----------------------------------------------Start */

.work {
    margin-top: 170px;
    padding: 100px 0;
    background: #f6fbff;
}

.work__desc {
    width: 468px;
    margin-bottom: 70px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 42px 43px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item:hover .work-item__more {
    color: #2e80ce;
}

/* Work Item */
.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* End---------------------------------------------- work ----------------------------------------------End */

/* Start---------------------------------------------- Feature ----------------------------------------------Start */

.feature {
    margin: 85px 0;
    padding: 85px 0;
}

.feature__body {
    display: flex;
    align-items: center;
    gap: 130px;
}
/* Feature Images */
.feature__images {
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.feature__img {
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:first-child {
    width: 512px;
}

.feature__img:last-child {
    position: absolute;
    width: 332px;
    right: 0;
    bottom: 0;
}

/* Feature Content */
.feature__btn {
    margin-top: 38px;
}
/* End---------------------------------------------- Feature ----------------------------------------------End */

/* Start---------------------------------------------- Member ----------------------------------------------Start */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.member-item__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.member__control {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 38px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #575f66;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
    cursor: pointer;
}

.member__control-btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #fff;
}

.member__control-icon-next {
    rotate: 180deg;
}
/* End---------------------------------------------- Member ----------------------------------------------End */

/* Start---------------------------------------------- Install ----------------------------------------------Start */
.install {
    margin-top: 180px;
}

.install__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    width: 57%;
}

.install__heading {
    max-width: 489px;
    color: #fff;
}

.install__desc {
    color: #fff;
}

.install__row {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* End---------------------------------------------- Install ----------------------------------------------End */
