* {
    box-sizing: border-box;
}

:root {
    --header-background: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Start---------------------------------------------- Common ----------------------------------------------Start */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Logo */
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
    color: #fff;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}

/* btn */

.btn {
    --height: 60px;
    display: inline-block;
    text-align: center;
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    background: #2e80ce;
    color: #fff;
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Section Heading */
.section-heading {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* End---------------------------------------------- Common ----------------------------------------------End */

/* Start---------------------------------------------- Header ----------------------------------------------Start */

/* Header top */

.header {
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 110px;
    background: var(--header-background);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Navbar */

.navbar__list {
    display: flex;
}

.header-action__log-in,
.navbar__link {
    font-weight: 400;
    font-size: 1.6rem;
    padding: 4px 21px;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    display: inline-block;
    position: relative;
    left: -8px;
    top: -3px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* header-action */

.header-action {
    display: flex;
    align-items: center;
}

.header-action__log-in {
    padding-right: 28px;
}

.header-action__btn {
    min-width: 104px;
    --height: 44px;
    font-size: 1.6rem;
    line-height: var(--height);
}

/* Hero */

/* Hero content */
.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #fff;
}
/* Hero media */
.hero__images {
    display: flex;
    align-items: center;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0 6px 6px 0;
}

/* End---------------------------------------------- Header ----------------------------------------------End */

/* Start---------------------------------------------- Service ----------------------------------------------Start */

.service {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin: 0 auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/* Service Images */
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__contents {
    width: 40%;
}

.service-item {
    display: flex;
    gap: 19px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: 0.25s;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    width: 351px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service__btn {
    margin-top: 55px;
}
/* End---------------------------------------------- Service ----------------------------------------------End */
